      * {
        margin: 0;
        padding: 0;
        
      }
    
      #heading{
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 12vh;
        background-color: rgb(252, 252, 252);
        border-bottom: 0.5px solid rgb(163, 163, 163);
      }

      h1{
        font-family: Julius Sans One;
        font-size: 25px;
      }

      #text-display {
        box-sizing: border-box;
        font-size: 24px;
        background-color: white;
        border-bottom: 0.5px solid rgb(163, 163, 163);
        padding: 40px;
        white-space: pre-wrap; 
        outline: none; 
        cursor: text; 
        font-family: noto nastaliq urdu;
        width: 100%;
        height: 42.5vh;
        overflow: auto;        
      }

      #wrapper {
        width: 100%;
        height: 45.5vh;
        background-color: rgb(242, 242, 242);
        font-size: 0;
        text-align: center;
      }

      .keyboard-btn {
        font-family: scheherazade new;
        font-size: 30px;
        width: 68px;
        aspect-ratio: 1/1;
        vertical-align: top;
        overflow: hidden;
        border-radius: 15px;
        border: 0.5px solid rgb(163, 163, 163);
        margin: 0.5px;
        background-color: rgb(235, 235, 235);
      }

      .keyboard-btn:hover {
        background-color: rgb(51, 51, 51);
        color: white;
      }

      .red {
        color: maroon;
      }

      .numerals {
        font-family: noto nastaliq urdu;
      }

      #spacebar {
        width: 272px; height: 68px;
      }

      .beaut {
        border: 0;
        background-color: black;
        color: white;
        font-family: courier prime;
        width: 60px;
        height: 25px;
        font-size: 10px;
        border-radius: 20px;
      }
      .beaut:hover {
        background-color: rgb(51, 51, 51);
        color: white;
      }
      .dark-mode {
        background-color: #333;
        color: #fff;
      }

@media print {
        p, button, .wrapper, #heading {
            display: none;
        }

        #text-display {
          width: 100%;
          height: 100%;
          margin: none;
          border: none;
          padding: 25px;
          font-size: 35px;
        }  
     }
    
@media screen and (max-width: 450px) and (orientation: portrait) and (max-height: 900px) {
  .keyboard-btn{
    width: 25px;
    font-size: 8px;
    border-radius: 8px;
  }
  #spacebar {
    width: 100px;
    height: 25px;
  }
  #text-display{
    height: 40vh;
    font-size: 20px;
    padding: 35px;
  }
  #wrapper{
    height: 48vh;
  }
}
